/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.button{
    @apply bg-black hover:bg-gray-800 text-white py-2 px-5 rounded-lg transition disabled:bg-gray-400;
}

.input-error {
    @apply text-red-500 text-sm mt-1
}

.spinner {
    @apply w-4 h-4 border-2 border-white border-t-transparent rounded-full animate-spin
}

.spinner-div {
    @apply flex items-center justify-center gap-2
}

.big-spinner {
    @apply w-10 h-10 border-2 border-black border-t-transparent rounded-full animate-spin
}

.input {
    @apply w-full border rounded-lg px-3 py-2 focus:outline-none 
}

.badge-1 {
    @apply bg-purple-100 text-purple-700
}
.badge-2 {
    @apply bg-gray-100 text-gray-700
}



.container {
    @apply w-full py-10 min-h-screen
}

.app-shell {
  @apply min-h-screen flex;
}

.sidebar {
  @apply hidden md:flex md:flex-col w-64 bg-white border-r border-gray-200 shadow-sm max-h-screen;
}

.sidebar-header {
  @apply px-5 py-4 border-b border-gray-200 flex items-center gap-3;
}


.sidebar-link {
  @apply flex items-center gap-3 px-3 py-2 rounded-lg text-gray-700 hover:bg-gray-700 hover:text-white transition;
}

/* Active state for routerLinkActive */
.sidebar-link-active {
  @apply bg-black text-white ;
}


.mobile-topbar {
  @apply md:hidden flex items-center justify-between px-4 py-3 bg-white border-b border-gray-200;
}

